{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Quarter Total Summary </h1>
{% endblock %}
{% block result_list %}

<div class=”results”>
<p></p>

    <h2> Totals </h2>

    <table>
    <p></p>

    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Year</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Quarter</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total Amount</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class=”{% cycle "row1" "row2" %}”>
        <td> {{ row.year }} </td>
        <td> {{ row.quarter }} </td>
        <td> {{ row.total_amount | default:0 }} </td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
    <p></p>

    <h2> Totals over time </h2>

    <p></p>

    <style>
    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }
    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }

    </style>

    <div class="results">
        <div class="bar-chart">
        {% for x in summary_over_time %}
            <div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{x.total | default:0 }}<br>
                    {{x.year }} | {{ x.quarter}}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
{% block pagination %}{% endblock %}